<div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Dienstplan für {{day | date:"EEEE', den 'd.M.yyyy" }}</h3>
			<p>Einfach ankreuzen, wenn ihr kommt, oder leer lassen, wenn ihr nur schauen
				wollt.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-bordered table-hover table-condensed" ng-hide="loading">
				<thead>
					<tr>
						<th>Name</th>
						<th class="text-center"><span class="glyphicon glyphicon-log-in"></span>&nbsp;
							<span class="badge {{badgeClass(will_sums.will_open)}}">{{will_sums.will_open}}</span></th>
						<th class="text-center"><span class="glyphicon glyphicon-record"></span>&nbsp;
							<span class="badge {{badgeClass(will_sums.will_service)}}">{{will_sums.will_service}}</span></th>
						<th class="text-center"><span class="glyphicon glyphicon-log-out"></span>&nbsp;
							<span class="badge {{badgeClass(will_sums.will_close)}}">{{will_sums.will_close}}</span></th>
						<th>Kommentar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in rosterentries">
						<td>{{ entry.member }}</td>
						<td class="text-center">&nbsp;<span class="glyphicon" ng-class="{'glyphicon-ok': entry.will_open}">&nbsp;</span></td>
						<td class="text-center">&nbsp;<span class="glyphicon" ng-class="{'glyphicon-ok': entry.will_service}">&nbsp;</span></td>
						<td class="text-center">&nbsp;<span class="glyphicon" ng-class="{'glyphicon-ok': entry.will_close}">&nbsp;</span></td>
						<td>{{ entry.comment }}</td>
					</tr>
					<tr class="success">
						<td>{{ status.name }}</td>
						<td class="text-center"><input type="checkbox" name="will_open" ng-model="myself.will_open" class="input-xlarge"></td>
						<td class="text-center"><input type="checkbox" name="will_open" ng-model="myself.will_service" class="input-xlarge"></td>
						<td class="text-center"><input type="checkbox" name="will_open" ng-model="myself.will_close" class="input-xlarge"></td>
						<td><input type="text" name="name" ng-model="myself.comment" placeholder="Ich mache heute..." class="input-xlarge"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><b>Summe Zusagen</b></td>
						<td class="text-center"><span class="glyphicon glyphicon-log-in"></span>&nbsp;
							<span class="badge {{badgeClass(will_sums.will_open)}}">{{will_sums.will_open}}</span></td>
						<td class="text-center"><span class="glyphicon glyphicon-record"></span>&nbsp;
							<span class="badge {{badgeClass(will_sums.will_service)}}">{{will_sums.will_service}}</span></td>
						<td class="text-center"><span class="glyphicon glyphicon-log-out"></span>&nbsp;
							<span class="badge {{badgeClass(will_sums.will_close)}}">{{will_sums.will_close}}</span></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p>In der Tabelle seht ihr, wer an diesem Tag in Aumühle anwesend
				sein möchte, und welche Aufgaben er übernehmen will. In der letzten,
				grünen Zeile seid ihr schon vorgemerkt. Kreuzt einfach an, ob ihr zum
				Öffnen um 11 Uhr da seid, ob ihr euch um Besucher kümmern wollt, und ob
				ihr ab 17 Uhr den Lokschuppen schließen werdet. Im Kommentarfeld könnt
				ihr zusätzliche Hinweise geben, z. B. „Ich baue den Kaffeestand auf“,
				oder „Kümmere mich um die Gruppe“.</p>
			<p>Wenn ihr nicht kommt, lasst einfach alles offen. Wenn ihr mögt, könnt ihr
				natürlich gerne einen Kommentar eingeben.</p> 
			<p>Wenn ihr kommt, aber euch um etwas anderes als die Besucher kümmern werdet,
				lasst einfach das Kreuz bei <span class="glyphicon glyphicon-record"></span>
				Betreuung weg; ihr braucht keine Begründung einzugeben.</p>
			<p>Eure Eingaben werden automatisch gespeichert. Ihr könnt eure Eingabe
				jederzeit wieder ändern. Solltet ihr zunächst zugesagt haben, jetzt aber
				kurzfristig verhindert sein, ist ein Kommentar für die Kollegen
				hilfreich.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Legende</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;<span class="glyphicon glyphicon-log-in"></span></div>
		<div class="col-xs-11">
			<p><b>Ich öffne</b>: ich bin rechtzeitig da, damit der Lokschuppen um 11 Uhr
				Besucher empfangen kann. Idealerweise gehören dazu alle Vorbereitungen
				wie z. B. das Einschalten der Ausstellungswand, das Aufschließen der
				Ausstellungsfahrzeuge, das Öffnen der Tore und das Aufstellen des Schilds
				am Waldweg.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;<span class="glyphicon glyphicon-record"></span></div>
		<div class="col-xs-11">
			<p><b>Ich betreue Besucher</b>: Ich stehe für Fragen zur Verfügung und mache
				etwas mit den Besuchern.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;<span class="glyphicon glyphicon-log-out"></span></div>
		<div class="col-xs-11">
			<p><b>Ich schließe</b>: ich bin bis um 17 Uhr im Lokschuppen, und schließe
				alles ab. Dazu gehört natürlich auch, das Schild aus dem Wald zu holen,
				alles Fahrzeuge abzuschließen, den Außenstrom abzuschalten und den
				Lokschuppen zuzusperren.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;<span class="badge badge-danger">0</span></div>
		<div class="col-xs-11">
			<p><b>Keine Meldung (0)</b>: noch hat sich keiner gefunden, der die Aufgabe
				übernehmen möchte.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;<span class="badge badge-warning">1</span></div>
		<div class="col-xs-11">
			<p><b>Eine Meldung</b>: einer ist besser als keiner!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;<span class="badge badge-success">2</span></div>
		<div class="col-xs-11">
			<p><b>Mehrere Meldung</b>: mit zwei oder mehr Kollegen haben wir Sicherheit,
				und die Arbeit geht leichter von der Hand.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 text-center">&nbsp;</div>
		<div class="col-xs-11">
			<p><b>Oben im Menü</b> wird zusammengefasst dargestellt, wie viele Meldungen
				für das Öffnen bzw. Schließen vorliegen; die kleinere Zahl wird verwendet.
			</p>
		</div>
	</div>
</div>
