<div ng-controller="DayController">
	<div class="row">
		<div class="col-xs-11">
			<h2>Dienstplan für {{day | date:"EEEE', den 'd.M.yyyy" }}</h3>
		</div>
		<div class="col-xs-1">
			<h3><button class="btn btn-default" ng-click="update()"><span class="glyphicon glyphicon-refresh"></span></button></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
	<p>Erklärungstext Lorem ipsum dolor sit amet, consetetur sadipscing
	elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
	aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
	dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
	est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
	sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
	dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
	justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
	takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div ng-show="loading" class="well">Daten werden geladen...</div>
			<table class="table table-striped table-hover table-condensed" ng-hide="loading">
				<thead>
				<tr>
					<th>Name</th>
					<th><span class="glyphicon glyphicon-log-in"></span>&nbsp;</th>
					<th><span class="glyphicon glyphicon-record"></span>&nbsp;</th>
					<th><span class="glyphicon glyphicon-log-out"></span>&nbsp;</th>
					<th>Kommentar</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="entry in rosterentries">
					<td>{{ entry.member }}</td>
					<td><span class="glyphicon" ng-class="{'glyphicon-ok': entry.will_open}"></span></td>
					<td><span class="glyphicon" ng-class="{'glyphicon-ok': entry.will_service}"></span></td>
					<td><span class="glyphicon" ng-class="{'glyphicon-ok': entry.will_close}"></span></td>
					<td>{{ entry.comment }}</td>
				</tr>
				<tr class="success">
					<td>{{ status.name }}</td>
					<td><input type="checkbox" name="will_open" ng-model="myself.will_open" class="input-xlarge"></td>
					<td><input type="checkbox" name="will_open" ng-model="myself.will_service" class="input-xlarge"></td>
					<td><input type="checkbox" name="will_open" ng-model="myself.will_close" class="input-xlarge"></td>
					<td><input type="text" name="name" ng-model="myself.comment" placeholder="Ich mache heute..." class="input-xlarge">
</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Legende</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1"><span class="glyphicon glyphicon-log-in"></span>&nbsp;</div>
		<div class="col-xs-11"><b>Ich öffne</b>: ich bin rechtzeitig da,
		damit der Lokschuppen um 11 Uhr Besucher empfangen kann.
		 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
	</div>
	<div class="row">
		<div class="col-xs-1"><span class="glyphicon glyphicon-record"></span>&nbsp;</div>
		<div class="col-xs-11"><b>Ich betreue Besucher</b>: Ich stehe für
		Fragen zur Verfügung und mache etwas mit den Besuchern. At vero eos et accusam et justo duo dolores et ea rebum.</div>
	</div>
	<div class="row">
		<div class="col-xs-1"><span class="glyphicon glyphicon-log-out"></span>&nbsp;</div>
		<div class="col-xs-11"><b>Ich schließe</b>: ich bin bis um 17 Uhr im
		Lokschuppen, und schließe alles ab. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
	</div>
</div>
